.navbar {
    transition: background 0.3s ease-in-out;
  }
  
  .scrolled {
    /* background: transparent !important;
    backdrop-filter: blur(10px);
    border-radius: 25px !important; */
    
    margin-inline: auto;
    
    width: 89%;
    background: rgba( 255, 255, 255, 0.05 ) !important;
    backdrop-filter: blur( 15.5px ) !important;
    -webkit-backdrop-filter: blur( 15.5px ) !important;
    border-radius: 25px !important;
    border: 1px solid rgba( 255, 255, 255, 0.18 ) !important;

  }

  .scrolled .navbar ul li a:not(.getstarted){
    color: white  !important;
  }

  .scrolled .navbar>ul>li>a:before:not(.getstarted){
    background-color: white;
  }
  .linkscolor{
    color: #fff  !important;
  }
  .navbar .getstarted:hover:not(.getstarted),
.navbar .getstarted:focus:hover:not(.getstarted) {
  color: #262626;
  border-color: #262626;
  background: white;
}

.navbar_padding{
  padding-inline: 40px;
}
