.fa-floppy-o{
   
    /* color: rgb(242, 232, 233); */
    cursor: pointer;
}

.price-table-bottom-text{
  color: #a8a8a8;
}

.fa-floppy-o:hover{
    color: rgb(73, 238, 67);
    cursor: pointer;
}

  .tablecard {
    border: 0px solid #ccc;
    border-radius: 7px;
    padding: 5px;
    width: 100%;
    box-shadow: 0 0 1px #5846f9;
  }

.tableHeader {
    background-color: #393939;;
    color: white;
    font-style: bold;
}
tr{
  background: white;
}

tr:hover{
    
    border-radius: 5px;
    /* background: linear-gradient(145deg, #766fa7, #9187ed,  #766fa7);
    box-shadow: 0 10px 20px #5846f9, 0 4px 8px rgba(80, 53, 53, 0.06); */
    color: white !important;
    font-weight: 400;
}
.table-hover>tbody>tr:hover>*{
  background-color: none !important;
}

.tableHolder{
    margin-bottom: 5px;
    border-radius: 7px;
    background: linear-gradient(145deg,  #bbb8d2,  #c1bcee,  #bbbac6);
    padding: 0px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 3px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.7);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);

  cursor: pointer;
}

.cardHeader {
    font-weight: bold;
}
.cardDescription {
    text-align: left;
    font-weight: bold;
}

.cardFooter {
    background-color: #5846f9;
}
.card:hover{
    transform: scale(1.03);
 box-shadow: 4px 10px 20px rgba(59, 43, 43, 0.12), 0 4px 8px rgba(80, 53, 53, 0.06);
}

.cardAlignment {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.card {
    display: flex;
    flex-wrap: wrap;
  }

  .iframe {
    flex: 1;
    margin-right: 20px;
    width: 100%;

  }

  .card-content {
    flex: 1;
  }
  @media screen and (max-width: 360px) {
    .card {
      flex-direction: column; /* change the flex-direction to column to make the columns turn into rows */
    }

    .tableHeader {
      background-color: #5846f9;
      color: white;
      font-style: bold;
      font-size: x-small;
   }

   .tableHolder{
    margin-bottom: 5px;
    border-radius: 7px;
    background: linear-gradient(145deg,  #bbb8d2,  #c1bcee,  #bbbac6);
    padding: 0px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 3px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.7);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    font-size: x-small;
    cursor: pointer;
  }
    
    .iframe {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: none;
    }
  }
  
  @media screen and (max-width: 750px) {
    .card {
      flex-direction: column; /* change the flex-direction to column to make the columns turn into rows */
    }

    .tableHeader {
      background-color: #5846f9;
      color: white;
      font-style: bold;
      font-size: x-small;
  }
  }

  

  .valign-middle {
    vertical-align: middle;
  }