.left {
    width:65%;
    float: left;
  }

 

  @media screen and (max-width: 750px) {
        
    .left {
      width:100%;
      height:100%;
      float: left;
    }

   
  }

 
  
  .right {
  width:33%;
   
    float: right;
  }

  .left1 {
    width:68%;
     
      float: left;
    }

    @media screen and (max-width: 750px) {
        
    
  
      .left1 {
        width:100%;
        height:100%;
        float: left;
      }
    }

    
    
    .right1 {
    width:30%;
     
      float: right;
    }

  .table-bordered {
    border: 2px solid black;
  }

  .tableRow {
    padding: 10px;
  }

  .tableCol {
    border: 0px solid #5846f9;
    padding: 5px;
    text-align: left;
  }

  th, td {
    padding: 15px;
  }